/*** INDEX ****/
.nav {
  background-color: #8ae73c;
  border-color: black;
  font-size: 15px;
  font-weight: ;
  font-family: Verdana, Geneva, sans-serif;
}

.nav:hover {
   background-color: #8ae73c;
}

.nav  > li > a {
  color: #34be3f;
}

#menuGlobal {
    margin-bottom:50px;
}

footer {
    margin-top: 30px;
}

#contentGlobal {
    height:700px;
}
/***************/

#pageCounter {
    position : relative;
    top : 25px;
    left: 15px;
}

#createNewGeneButton {
    margin-bottom: 15px;
}

#genePositionInputBlock {
    position:relative;
    left:16px;
    width:418px;
}

#geneComponentName {
    position:relative;
    right:15px;
    width:210px;
}

#geneComponentPosition {
    position: relative;
    left:135px;
    width: 260px;
}

#addGeneComponent {
    width: 34px;
    height: 34px;
    text-align:center;
    padding:0;
    position:relative;
    left:445px;
}

#addGeneComponent span {
    display: inline-block;
    position:relative;
    top:2px;
}

#geneComponentType {
    position:absolute;
    top:9px;
    right:150px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 15px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#geneComponentRemove {
    width:50px;
}

#geneComponentRemove p {
    position:absolute;
    top:92px;
    left:35px;
}

.geneComponentActions {
    width:50px;
}

.geneComponentActions button {
    width:20px;
    height:20px;
}

.geneComponentActions span {
    display:inline-block;
    position:relative;
    top:-5px;
    left:-6px;
}

.geneComponentName {
    width:250px;
}

#geneTable thead tr th {
    font-size:16px;
}

#geneActionsHeader span {
    display:inline-block;
    position:relative;
    top:6px;
}

#geneSequence {
    font-size:13px;
    font-family: Courier, Georgia, Serif;
    text-align: justify;
}

#geneListFormPrimer {
    position:relative;
    left:100px;
    margin-bottom:50px;
}

#geneListFormPrimerAccessionNumber {
    height:141px;
    position:absolute;
    top:-10px;
    margin-left:10px;
}

#proteinContent {
    position: relative;
    left: 100px;
}

#iframe_prot {
    position: relative;
    left:100px;
    max-height: 500px;
}

#iframe_primer {
    position: relative;
    left:100px;
    max-height: 600px;
}

#inputBlastPerso, #inputBlastFile, #inputBlastGene {
    display:inline;
}

#inputBlastPerso, #inputBlastFile {
    display:none;
}

#blastForm {
    text-align:center;
    position:relative;
    left:360px;
}

button.large{
    position:relative;
    left:25px;
    width:400px;
    height:50px;
}

#selectBlastActions {
    position:relative;
    left:24px;
}

#startBlast {
    width:450px;
    height:65px;
}

.absoluteCaret {
    position:absolute;
    left:375px;
    top:21px;
}

.blastAction {
    height:50px;
}

#inputBlastList, #inputBlastPerso {
    height:50px;
    width:324px;
}

#blastDropdownDb, #blastDropdownType {
    position:absolute;
    left:42px;
    width:395px;
}
