
/*navbar*/
.nav {
  background-color: #8ae73c;
  border-color: black;
}

.nav:hover {
   background-color: #3aa328;
}

.nav:focus{
    color:yellow;
}

}
.nav  > li > a {
  color: #f7f9eb;
}
.nav > li > a:hover,
.nav  > li > a:focus {
  color: #020506;
}
