/* La beauté du swag n'est rien d'autre que du swag insane */

nav {
  background-color: #8ae73c;
  border-color: #3aa328;
}
nav nav-tabs nav-justified .navbar-brand {
  color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-brand:hover,
nav nav-tabs nav-justified .navbar-brand:focus {
  color: #020506;
}
nav nav-tabs nav-justified .navbar-text {
  color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-nav > li > a {
  color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-nav > li > a:hover,
nav nav-tabs nav-justified .navbar-nav > li > a:focus {
  color: #020506;
}
nav nav-tabs nav-justified .navbar-nav > .active > a,
nav nav-tabs nav-justified .navbar-nav > .active > a:hover,
nav nav-tabs nav-justified .navbar-nav > .active > a:focus {
  color: #020506;
  background-color: #3aa328;
}
nav nav-tabs nav-justified .navbar-nav > .open > a,
nav nav-tabs nav-justified .navbar-nav > .open > a:hover,
nav nav-tabs nav-justified .navbar-nav > .open > a:focus {
  color: #020506;
  background-color: #3aa328;
}
nav nav-tabs nav-justified .navbar-toggle {
  border-color: #3aa328;
}
nav nav-tabs nav-justified .navbar-toggle:hover,
nav nav-tabs nav-justified .navbar-toggle:focus {
  background-color: #3aa328;
}
nav nav-tabs nav-justified .navbar-toggle .icon-bar {
  background-color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-collapse,
nav nav-tabs nav-justified .navbar-form {
  border-color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-link {
  color: #f7f9eb;
}
nav nav-tabs nav-justified .navbar-link:hover {
  color: #020506;
}
